.header {
  background-color: #333;
  &__container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
    @media (max-width: 980px) {
      max-width: 800px;
    }
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 800px;
  height: 100px;
  margin-right: 50px;

  &__link {
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
    @media (max-width: 980px) {
      font-size: 16px;
    }
  }
  &__logo {
    position: relative;
    z-index: 1;
    width: 120px;
    margin-top: 15px;
  }
  @media (max-width: 980px) {
    min-width: 600px;
  }
}

.profcart {
  img {
    width: 35px;
    padding: 5px;
  }
}
